<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocinarapida">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocinaRapida">
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/lista_compras"
            android:exported="false" />
        <activity
            android:name=".ParaComerAquiActivity"
            android:label="@string/para_comer_aqui"
            android:exported="false" />
        <activity
            android:name=".RecipeTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/contactanos"
            android:exported="false" />
        <activity
            android:name=".TecnicasActivity"
            android:label="@string/tecnicas_1"
            android:exported="false" />
        <activity
            android:name=".WrapJitomateEspinacaActivity"
            android:exported="false" />
        <activity
            android:name=".WrapSushiActivity"
            android:exported="false" />
        <activity
            android:name=".BowlArrozHuevoActivity"
            android:exported="false" />
        <activity
            android:name=".EspeciasActivity"
            android:label="@string/especias"
            android:exported="false" />
        <activity
            android:name=".UtensiliosActivity"
            android:exported="false" />
        <activity
            android:name=".BasicosActivity"
            android:label="@string/basicos"
            android:exported="false" />
        <activity
            android:name=".HuevoTortillaJalapenosActivity"
            android:exported="false" />
        <activity
            android:name=".HuevosNormaActivity"
            android:exported="false" />
        <activity
            android:name=".DesayunosActivity"
            android:label="@string/desayunos"
            android:exported="false" />
        <activity
            android:name=".SalsaVerdeCocidaActivity"
            android:exported="false" />
        <activity
            android:name=".SalsasMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PastasMenu"
            android:exported="false" />
        <activity
            android:name=".IrComiendo"
            android:label="@string/para_ir_comiendo"
            android:exported="false" />
        <activity
            android:name=".Parallevar"
            android:label="@string/para_llevar"
            android:exported="false" />
        <activity
            android:name=".SopasActivity"
            android:label="@string/sopas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>