<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocinarapida">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocinaRapida">
        <activity
            android:name=".BebidasActivity"
            android:exported="false" />
        <activity
            android:name=".bebidasActivity"
            android:exported="false" />
        <activity
            android:name=".WrapsActivity"
            android:exported="false" />
        <activity
            android:name=".Postres"
            android:exported="false"
            android:label="@string/postres" />
        <activity
            android:name=".Tortas"
            android:exported="false"
            android:label="@string/tortas" />
        <activity
            android:name=".Bento"
            android:exported="false"
            android:label="@string/bento" />
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false"
            android:label="@string/lista_compras" />
        <activity
            android:name=".ParaComerAquiActivity"
            android:exported="false"
            android:label="@string/para_comer_aqui" />
        <activity
            android:name=".RecipeTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:label="@string/contactanos" />
        <activity
            android:name=".TecnicasActivity"
            android:exported="false"
            android:label="@string/tecnicas_1" />
        <activity
            android:name=".BowlArrozHuevoActivity"
            android:exported="false" />
        <activity
            android:name=".EspeciasActivity"
            android:exported="false"
            android:label="@string/especias" />
        <activity
            android:name=".UtensiliosActivity"
            android:exported="false" />
        <activity
            android:name=".BasicosActivity"
            android:exported="false"
            android:label="@string/basicos" />
        <activity
            android:name=".HuevoTortillaJalapenosActivity"
            android:exported="false" />
        <activity
            android:name=".HuevosNormaActivity"
            android:exported="false" />
        <activity
            android:name=".DesayunosActivity"
            android:exported="false"
            android:label="@string/desayunos" />
        <activity
            android:name=".SalsaVerdeCocidaActivity"
            android:exported="false" />
        <activity
            android:name=".SalsasMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PastasMenu"
            android:exported="false" />
        <activity
            android:name=".IrComiendo"
            android:exported="false"
            android:label="@string/para_ir_comiendo" />
        <activity
            android:name=".Parallevar"
            android:exported="false"
            android:label="@string/para_llevar" />
        <activity
            android:name=".SopasActivity"
            android:exported="false"
            android:label="@string/sopas" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>